html{
    scroll-behavior: smooth;
}
body {
    margin : 0px
}
header{
    display : flex;
    justify-content: space-between;
    text-align: center;
    height: 40px;
    position : fixed;
    width : 100%;
    padding : 10px 10px 2.5px 10px;
    background-color: rgba(255, 243, 109, 0.488);
}
header img{
    height : 100px;
    width: 100%
}
.banner{
    display : flex;
    align-items : center;
    margin-bottom: 10px;
    font-size: 31px;
    color: rgb(123, 68, 17);
    font-family: cursive;
}
.logo{
    width : 50px;
    height: auto;
}
.right{
    margin-top: 4px;
    margin-right: 40px;
}
.right a{
    margin-left: 20px;
    text-decoration: none;
    color:rgb(88, 36, 0);
    font-size: 20px;
    padding: 5px 15px;
    transition: 0.4s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav a:hover{
    color:rgb(255, 94, 0);
    background-color: rgba(255, 250, 236, 0.811);
    transition: 0.4s;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 2px 15px -4px rgba(255, 217, 0, 0.712);
}
section.home{
    height : 760px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgb(255, 233, 124) 100%),url(bg3.png);
}
.deskhome{
    width : 800px;
    margin-left: 40px;
    padding-top: 130px;
    & h1{
        color:rgb(255, 217, 0)
    }
    & p{
        color:rgb(255, 229, 190)
    }
}
.deskhome a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color:crimson;
    color : white;
    padding : 10px 25px;
    border-radius: 100px;
    transition: 0.25s;
    font-family: cursive;
    font-size: 20px;
}
.name{
    font-size: 50px;
    color: rgb(255, 221, 0);
    text-shadow: 2px 2px 5px rgba(120, 66, 0, 0.604);
    font-family:Tahoma
}
.desk{
    color:bisque;
    font-size: 20px;
}
.jelasin{
    color: rgba(86, 41, 2, 0.891);
    font-family: Arial;
    font-size: 20px;
}
.judul{
    color:rgb(165, 93, 42);
    font-size: 30px;
    font-family:Verdana;
}




section.project{
    height : 800px;
    text-align: center;
    width : 100%;
    margin : auto;
    padding-top: 20px;
    background-color: rgb(255, 231, 135);
    & img{
        height : 300px;
        border-radius: 15px ;
        margin-bottom: -15px;
    }
}
.penjelasan{
    color: rgb(88, 39, 4);
    font-size: 25px;
    font-family:'Arial Narrow';
    text-align: center;
    padding: 20px 5px 25px 5px;    
    margin-left: 110px;
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 25px;
    width: 80%;
}




.isihowto{ 
    background-color:rgb(74, 44, 3);
    display : flex;
    margin: auto;
    text-align: justify;
    align-items: flex-start;
    height: 800px;
}
.howto img{
    height : 700px;
}
.dokmen {
    margin : 20px;
    margin-top: 40px;
}
.proses{  
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: system-ui;
    text-align: left;
}
.jelas{
    color: rgb(255, 253, 206);
    font-size: 25px;
    font-family:'Arial Narrow';
    text-align: left;
}




section.profile{
    height : 800px;
    text-align: center;
    padding-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgb(0, 52, 112) 100%),url(bg10.png);
}
.card{
    background-color: rgba(255, 255, 255, 0.612);
    padding : 15px;
    width : 300px;
    margin : auto;
    text-align: center;
    border-radius: 10px;
}
.imgprofile img{
    width : 100%;
    border-radius: 5px;
}
.medsos{
    left: 0;
    bottom: 0;
    width : 100%;
    text-align: center;
    height: 40px;
}
.medsos a{
    text-decoration:none;
    padding: 10px 10px;
    font-size: 24px;
    color: black;
}
.deskprofile{
    color: rgb(0, 34, 108);
    font-size: medium;
    font-size: 25px;
    font-family:cursive;
}
